<!DOCTYPE html>
<html>
<head>
  <title>Passport Application System</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
  <h1>🎓Passport Application System</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </nav>
</header>

<main>
